@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@400;500;600&display=swap");
@import url("https://use.fontawesome.com/releases/v5.10.2/css/all.css");
@import url("reset.css");

:root {
  --color-grey: #9b9c9d;
  --color-green: #03a87c;
  --color-lightgreen: #cefde9;
}

html {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
}

main {
  padding: 20px 60px;
}

h1,
h2,
h3 {
  font-family: Georgia, sans-serif;
}

.title {
  text-align: left;
}
.title h2 {
  font-weight: bold;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.title p {
  padding-bottom: 1rem;
}

.items {
  display: flex;
  justify-content: space-between;
}


.item:nth-child(1) {
  width: 20%;
  align-self: flex-end;
}

.item:nth-child(2) {
  width: 60%;
  padding: 1rem;
}
.item:nth-child(2) h3 {
  padding: 1rem 1rem 1rem 0rem;
}
mark {
  background-color: var(--color-lightgreen);
}

button {
  color: white;
  background-color: var(--color-green);
  border-radius: 2px;
  overflow: hidden;
font-size: 1rem;
border: none;
padding: 0.75rem;
}
