@import url(./reset.css);

body {

display: flex;
flex-wrap: wrap;
padding: 2rem;
gap: 1rem;

}

header,
main,
aside,
footer {
  background-color: lightgreen;
  padding: 2rem;
  border-radius: 8px;
}

header {
    flex: 1 1 100vw;
    border: 1px solid;
}

main {
    
    flex: 1 1 65vw;
    border: 1px solid;
}

aside{
    flex: 1 1 25vw;
    border: 1px solid;
}

footer{
    flex: 1 1 100vw;
    border: 1px solid;

}

